.dashboard-container {
  background: linear-gradient(rgba(66, 64, 85, 0.9), rgba(66, 64, 85, 0.9)), url('https://images.unsplash.com/photo-1535223289827-42f1e9919769?fit=crop&w=1500&q=80') center center/cover no-repeat;
  border-radius: 20px;
  padding: 80px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #D9D5D1;
  font-family: 'Poppins', sans-serif;
  margin: 60px auto;
}

.dashboard-container h1 {
  font-size: 40px;
  color: #AD998A;
  margin-bottom: 20px;
  font-weight: 700;
}

.dashboard-container p {
  font-size: 18px;
  color: #D9D5D1;
}

.dashboard-container .dashboard-button {
  background-color: #AD998A;
  color: #ffffff;
  padding: 15px 30px;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 700;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  margin-top: 30px;
}

.dashboard-container .dashboard-button:hover {
  background-color: #778794;
  transform: translateY(-5px);
}

.dashboard-container .dashboard-button:active {
  transform: translateY(2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}